version: 2 
jobs: 
  build: 
    docker: 
      - image: circleci/python:3.6.4
    working_directory: ~/repo
    steps: 
      - checkout 
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      
      # Download and cache dependencies
      - restore_cache:
          keys: 
            - v1-dependencies-{{ checksum "requirements.txt" }}
            # Fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          command: |
            python3 -m venv venv 
            source venv/bin/activate 
            make install
      - save_cache: 
          paths: 
            - ./venv
          key: 
            - v1-dependencies-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: run lint # this is just a description
          command: |
            make lint